.sticky-wrapper {
  display: none !important;
}

#grid_horizontal_share_project {
  width: 100% !important;
  margin: 0 auto !important;
}
#section_nav_project .nav .nav_menu_align .menu-item {
  padding: 12px 16px;
  color: var(--color-primary) !important;
}
#grid_horizontal_share_project > .grid__item:nth-of-type(1) {
  width: 70% !important;
}

#grid_horizontal_share_project > .grid__item:nth-of-type(2) {
  width: 30% !important;
}
#grid_horizontal_share_project > .grid__item:nth-of-type(2) .card {
  max-width: 590px !important;
  min-width: auto !important;
  min-height: auto !important;
  max-height: none !important;
}
#section_nav_project .nav .nav_menu_align .menu-item.active {
  border-color: var(--color-primary) !important;
}

.horizontal_project_logo,
.horizontal_project_subtitle,
.horizontal_project_subtitle {
  display: none;
}

#horizontal_card_project .inside-project-category {
  display: none !important;
}
#horizontal_card_project .inside-project-owner {
  display: none !important;
}

#horizontal_card_project .amf_text_security {
  display: none !important;
}
#section_nav_project {
  padding-left: 30px !important;
}

#horizontal_card_project {
  background-color: var(--color-background) !important;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0 !important;
  color: var(--color-dark) !important;
  margin: 60px 0 0 0 !important;
  box-shadow: none !important;
}
body:has(.progress-bar:not([style*="display: none"])) #horizontal_card_project {
  padding-bottom: 62px !important;
}

#horizontal_card_project .inside-project-name {
  margin: 12px 0 !important;
  font-size: var(--font-size-large) !important;
}
#horizontal_card_project .inside-project-tags .fa-tag,
#horizontal_card_project .inside-project-tags .inside-project-localization,
.inside-project-owner {
  display: none !important;
}
.inside-project-financial-data {
  text-align: start !important;
}
#horizontal_card_project .inside-project-tags a {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  border-radius: var(--border-radius-small) !important;
  font-weight: bold !important;
  min-height: 28px !important;
  font-size: var(--font-size-small) !important;
}
.inside-project-status .grid {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.inside-project-status .grid .grid__item .text--center {
  text-align: left !important;
}

.inside-project-status .grid .grid__item {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: auto !important;
}
.inside-project-status .grid .grid__item div {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: auto !important;
  gap: var(--spacing-small);
  align-items: flex-start;
}
.inside-project-status .grid .grid__item div .milli {
  font-size: var(--font-size-base) !important;
  color: var(--color-dark) !important;
  font-weight: bold !important;
}
.inside-project-status .grid .grid__item div .milli::before {
  content: " : " !important;
}
.inside-project-financial-data::before {
  content: "Rendement cible*";
}
#show_tags {
  padding: 0 !important;
}
.reward_btn--tag {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: var(--spacing-small) !important;
}
.reward_tag_title {
  text-align: start !important;
}
.reward_btn--tag a {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  border-radius: var(--border-radius-small) !important;
  font-weight: bold !important;
  min-height: 28px !important;
  height: auto !important;
  margin-bottom: var(--spacing-small);
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
.reward_btn--tag a::first-letter {
  text-transform: uppercase !important;
}
.infos-rewards .info-rewards h2 {
  font-size: var(--font-size-large) !important;
  font-weight: 700;
  margin-bottom: var(--spacing-small) !important;
  margin-top: var(--spacing-large) !important;
}
.infos-rewards .info-rewards:has(.bulletpoint) p {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
.infos-rewards .info-rewards .bulletpoint::before {
  content: url("https://img.icons8.com/material-sharp/10/filled-circle.png") !important;
  margin-right: var(--spacing-small) !important;
}
#statistics_project .horizontal_statistics.card {
  position: initial !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}
#statistics_project .horizontal_statistics.card .title_horizontal_statistics,
#statistics_project .horizontal_statistics.card .horizontal_expires_at {
  display: none !important;
}
.horizontal_statistics .progress-bar {
  max-width: 360px !important;
  position: absolute !important;
  top: 436px !important;
  z-index: 9999;
  height: 20px !important;
  border-radius: var(--border-radius-small);
}
#project-navbar-desktop {
  background-color: var(--color-highlight) !important;
  padding: var(--spacing-medium) var(--spacing-small);
  border-top: 1px solid var(--color-dark) !important;
  border-bottom: 1px solid var(--color-dark) !important;
}
#project-navbar-desktop .one-third .nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 74px;
}
#project-navbar-desktop .one-third .nav .button-wrapper {
  margin: 0 !important;
}
.header-project-menu--desktop .grid--full {
  display: flex;
  align-items: center;
}
#section_nav_project {
  background-color: var(--color-highlight) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item {
  border: none !important;
  border-radius: var(--border-radius-small) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item.active {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item:hover {
  background: #f9e3bc !important;
}
#statistics_project .card {
  max-width: none !important;
  min-width: auto !important;
  min-height: auto !important;
  max-height: none !important;
}
.horizontal-social-banner .social-banner {
  display: none !important;
}
#button_back_project {
  background-color: var(--color-dark) !important;
}
#button_follow_project {
  display: none !important;
}
@media (max-width: 768px) {
  #grid_horizontal_share_project > .grid__item:nth-of-type(1) {
    display: none !important;
  }
  #grid_horizontal_share_project > .grid__item:nth-of-type(2) {
    width: 100% !important;
  }
  .horizontal_statistics .progress-bar {
    max-width: 330px !important;
    top: 436px !important;
    right: 24px !important;
  }
  #project-navbar-desktop {
    position: relative !important;
  }
  #project-navbar-desktop .header-project-menu--portable > .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #project-navbar-desktop .header-project-menu--portable #js-show-project-menu {
    color: var(--color-primary) !important;
  }
  #project-navbar-desktop #js-header-project-nav {
    position: absolute;
    top: 70px;
    background-color: var(--color-primary) !important;
    padding: var(--spacing-medium) var(--spacing-small);
    border-radius: var(--border-radius-medium) !important;
  }
  #project-navbar-desktop
    #js-header-project-nav
    .nav
    .nav_menu_align
    .menu-item {
    border: none !important;
  }
}
