#section_header_menu_project > .grid__item {
    display: none !important;
}

#section_nav_project .nav .nav_menu_align .menu-item {
    padding: 12px 16px;
    color: #1e3e36 !important;
}

#section_nav_project .nav .nav_menu_align .menu-item.active {
    border-color: #1e3e36 !important;
}

#header_user_social_links {
    display: none !important;
}

.island.text--center.dotted-border {
    border: none !important;
    background-color: #F0BA58 !important;
    border-radius: 6px !important;
    padding: 12px 16px !important;
}