.share_project .section_header_menu_project > .grid__item {
    display: none !important;
}

.share_nav_project_equity nav li > a {
    color: #1e3e36 !important;
    padding: 12px 16px;
}
.section_nav_project li > a:hover {
    color: #1e3e36 !important;
}

.section_nav_project li .menu-item.active {
    border-color: #1e3e36 !important;
}
